{% load static %}

<div class="main-class" style="background-image: url('{% static 'piano/images/classes/main/teste.png' %}'); background-size: cover; background-position: center;">
    <div class="main-class-content">

        <h1 class="main-class-title">
            Formação completa em piano erudito
           ,<br>
            <span class="main-class-highlight"> Do iniciante ao vestibular da USP</span>
        </h1>

        <p class="main-class-description">
            Preparação completa para o vestibular de música da USP:<br>
            técnica, repertório, teoria e simulações de prova.<br><br>
            Tudo isso com o diferencial da parceria oficial do instituto com a USP,<br>
            incluindo masterclasses e orientação especializada.
        </p>

        <a href="#" class="main-class-btn">
           Saiba mais<i class="fas fa-music"></i>
        </a>

    </div>
</div>