{% load static %}

<footer class="footer">
    <div class="footer-container">
        <div class="footer-content">

            <p class="footer-text">
                Parceria oficial com o Departamento de Música da USP Ribeirão Preto.<br>
            </p>
            <img src="{% static 'piano/images/layout/footer/logo_usp.png' %}"
                 alt="USP Ribeirão Preto" class="footer-logo">
           </div>
        <div class="footer-bottom">
            <p>© 2026 Instituto de Piano Tiago Cruz. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>